%p{:style => "color: green"}= notice
%p
  %strong Weight (kg):
  = @order.weight
%p
  %strong Length (cm):
  = @order.length
%p
  %strong Width (cm):
  = @order.width
%p
  %strong Height (cm):
  = @order.height
%p
  %strong Origins:
  = @order.origins
%p
  %strong Destinations:
  = @order.destinations
%p
  %strong Distance (m):
  = @order.distance
%p
  %strong Price (₽):
  = @order.price
